@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --azul-botao: #167BF7;
    --preto-fundo: #00030C;

    --fonte-principal: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;    
}

body {
    background-color: var(--preto-fundo);
    color: var(--branco-principal);    
}

.principal {
    background-image: url('../assets/background.png');
    background-repeat: no-repeat;    
    background-position: right;
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;    
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa {
    margin: 0rem 6rem;
}

.container__titulo {    
    font-weight: 700;
    font-size: 1.75rem;    
    line-height: 2.125rem;
}

.container__img {
    margin: 1.5rem 0 3.5rem 0;
    
}

.container__botao {
    background-color: var(--azul-botao);
    border-radius: 8px;
    padding: 1em;
    margin-bottom: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration:none ;
}

.btn-preto {
    background: none;
    border: 1px solid;
}

.container__aviso {
    text-align: center;    
    font-size: 0.75rem;
    color: var(--cinza-secundario);
}

.secundario {
    align-items: center;
    margin: 0 10rem;    
}

.secundario__img {
    text-align: center;    
}

.container__descricao {
    font-family: var(--fonte-principal);    
    padding: 2rem;
}

.secundario__titulo {
    font-size: 3rem;
    font-weight: 700;
}

.secundario__texto {
    color: var(--cinza-secundario);
}

.secundario__btn {
    display: inline-block;
    margin-top: 1rem;
}

.dispositivos {
    font-family: var(--fonte-principal);
    text-align: center;
    color: var(--branco-principal);
}

.dispositivos__titulo {
    font-size: 3rem;
    font-weight: 700;    
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 1.5rem;
    margin: 3rem 0;
}

.rodape {
    font-family: var(--fonte-principal);
    text-align: center;    
  
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3.5rem;
    margin: 2rem 0;    
    
}

.lista__item a:hover {
    color: var(--azul-botao);
}

.lista__link {
    text-decoration: none;
    color: var(--branco-principal)
}

.copyrigth {
    margin: 0rem 0 1.5rem 0;
    color: var(--cinza-secundario);
}

